@media screen and (max-width: 600px) {
  #logo {
    font-size: 20px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header,
#footer {
  display: flex;
  flex: 0 1 60px;
  background-image: linear-gradient(
    90deg,
    rgba(157, 71, 165, 0.521),
    rgba(137, 43, 226, 0.678) 500px,
    rgba(171, 98, 238, 0.801) 100%
  );
}

#header {
  justify-content: space-between;
}

#header #logo {
  font-family: "Megrim", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 36px;
  align-self: center;
  padding-left: 16px;
  color: rgb(233, 233, 233);
  text-align: center;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content > div {
  flex: 1 1 400px;
}

#footer {
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  flex: 0 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 16px;
  flex-wrap: wrap;
  gap: 8px;
}

ul li {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  flex: 1 0 auto;
  background-color: rgb(148, 66, 224);
  border-radius: 16px;
  padding: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  background-color: rgb(155, 87, 211);
}

#one {
  background-image: linear-gradient(
    90deg,
    rgba(157, 71, 165, 0.521),
    rgba(137, 43, 226, 0.678) 500px,
    rgba(171, 98, 238, 0.801) 100%
  );
}

#two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 231, 221);
}

#two cards {
  display: flex;
}

.card {
  flex: 0 1 200px;
  border: 2px solid red;
}

#three {
  background-color: rgb(193, 213, 214);
}
