:root {
  --gradient-length-header: 600px;
}

@media screen and (max-width: 600px) {
  #logo {
    font-size: 20px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header,
#footer {
  display: flex;
  flex: 0 1 60px;
  background-image: linear-gradient(
    90deg,
    rgba(157, 71, 165, 0.521),
    rgba(137, 43, 226, 0.678) var(--gradient-length-header),
    rgba(171, 98, 238, 0.801) 150%
  );
}

#header {
  justify-content: space-between;
}

.logo {
  font-family: "Megrim", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 36px;
  align-self: center;
  padding-left: 16px;
  color: rgb(233, 233, 233);
  text-align: center;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content > div {
  flex: 1 1 400px;
}

#footer {
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

/*Margin & padding set to 0 because the defaults aren't 0*/
nav > ul {
  display: flex;
  flex: 0 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 16px;
  flex-wrap: wrap;
  gap: 8px;
}

ul li {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  flex: 1 0 auto;
  border-radius: 8px;
  padding: 12px 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  background-blend-mode: color-burn;
}

a:hover {
  background-color: rgba(160, 44, 255, 0.466);
}

.section-1 {
  background-image: linear-gradient(
    90deg,
    rgba(157, 71, 165, 0.521),
    rgba(137, 43, 226, 0.678) var(--gradient-length-header),
    rgba(171, 98, 238, 0.801) 150%
  );
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 60px;
  gap: 12px;
}

.hero-text {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  font-size: 48px;
  word-wrap: normal;
}

.section-1 > img {
  width: 500px;
  height: auto;
  flex: 0 0 0;
  object-fit: contain;
  border: 2px solid red;
}

.section-2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 231, 221);
}

.section-2 > * {
  border: 2px solid red;
}

.section-2 .card-header {
  display: flex;
  flex: 0 1 80px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.section-2 .cards {
  display: flex;
  flex: 1 1 auto;
}

.section-3 {
  background-color: rgb(187, 215, 216);
}

.section-4 {
  background-color: rgba(248, 143, 143, 0.849);
}
